<link href="~/assets/dist/css/login.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown" ng-controller="LoginController">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/login.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form method="post">
            <input type="text" id="login" ng-model="login.username" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" ng-model="login.password" class="fadeIn third" name="login" placeholder="password">
            <a class="btn btn-primary" ng-click="Login()">Giriş Yap</a>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>
@section Scripts{
    <script src="~/page/login.js"></script>
}